@model MyCVCSharpAppMVC.Models.User
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="body-content">
    <div class="container">
        <h2>Login</h2>

        @if (!string.IsNullOrEmpty(@ViewBag.ErrorMessage))
        {
            <p style="color: red">@ViewBag.ErrorMessage</p>
        }

        <form method="post" id="loginForm">
            <label>Email:</label>
            <input asp-for="Email" required />

            <label>Password:</label>
            <input type="password" asp-for="Password" required />

            <button type="submit">Login</button>
        </form>

        
    </div>
</body>
</html>
